body #credits,
body #home {
  height: 100vh;
  width: 99vw;
  color: white;
  font-family: 'Roboto', sans-serif; }

.container-fluid {
  padding: 0; }

#home body {
  background: darkslategray; }
#home #particle-js {
  height: 100vh;
  width: 100vw;
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0; }
#home #content {
  height: 100vh;
  padding: 20px;
  margin-top: -100vh; }
  #home #content .animatedDeveloper {
    font-family: 'Courier', monospace;
    text-shadow: 1px 1px #000000; }
  #home #content h1 {
    margin-top: 30vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 68pt;
    text-shadow: 2px 2px #000000;
    text-transform: uppercase; }
  #home #content i {
    margin-top: 30vh;
    font-size: 20pt;
    opacity: .75;
    text-shadow: 0 0 1px black; }
  @media (max-width: 1024px) and (min-width: 720px) {
    #home #content h1 {
      margin-top: 40vh;
      font-size: 50pt; } }
  @media (max-width: 720px) {
    #home #content h1 {
      margin-top: 40vh;
      font-size: 38pt; }
    #home #content i {
      margin-top: 10vh; } }
#home .belowFoldContent {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: 20px;
  margin-right: 20px;
  min-height: 100vh; }
  #home .belowFoldContent h3 a {
    color: white;
    text-decoration: underline; }
  #home .belowFoldContent .text-center {
    max-width: 900px;
    margin: 0 auto; }
    #home .belowFoldContent .text-center h3 {
      line-height: 1.5; }
  #home .belowFoldContent .mediumFeedContainer {
    width: 40%;
    float: left;
    margin-left: 5%;
    margin-right: 5%; }
  #home .belowFoldContent #mediumContainer {
    border-radius: 5px; }
  #home .belowFoldContent #twitter-widget-0 {
    width: 100% !important; }
  @media (max-width: 850px) {
    #home .belowFoldContent .mediumFeedContainer {
      width: 80%;
      float: left;
      margin-left: 10%;
      margin-right: 10%; } }
  #home .belowFoldContent .mediumFeed {
    margin: 0 auto; }
  #home .belowFoldContent .feed-item, #home .belowFoldContent .j-stack, #home .belowFoldContent .juicer-feed {
    border-radius: 5px; }
  #home .belowFoldContent .referral {
    margin-bottom: 0; }

#nowBody {
  background: #A34741; }

#now #content {
  padding: 20px;
  margin-bottom: 200px;
  font-size: 14pt;
  color: white; }
  #now #content h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 32pt;
    text-shadow: 2px 2px #000000;
    text-transform: uppercase; }
  #now #content h2 {
    font-style: italic;
    font-weight: 100;
    text-shadow: 1px 1px #000000; }
  #now #content h3 {
    margin-top: 20vh;
    font-weight: 100;
    text-shadow: 1px 1px #000000;
    text-decoration: underline; }

#credits body {
  background: darkslategray; }
#credits #content {
  padding: 20px;
  margin-bottom: 200px;
  font-size: 14pt; }
  #credits #content a {
    color: white; }
  #credits #content h1 {
    margin-top: 20vh;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 32pt;
    text-shadow: 2px 2px #000000;
    text-transform: uppercase; }
  @media (max-width: 1024px) {
    #credits #content h1 {
      margin-top: 10vh; } }
  #credits #content h2 {
    font-style: italic;
    font-weight: 100;
    text-shadow: 1px 1px #000000; }
  #credits #content h3 {
    text-shadow: 1px 1px #000000;
    text-decoration: underline; }

body {
  background: darkslategray; }
  body #archives {
    color: white;
    font-family: 'Roboto', sans-serif;
    margin-top: 50px; }
    body #archives .link {
      color: white;
      text-decoration: underline; }
      body #archives .link:hover,
      body #archives .link i:hover {
        color: lightgray; }
    body #archives p {
      font-size: 17px; }

#map, #mapBucketList {
  position: relative;
  color: blue; }
  #map .gm-style-iw, #mapBucketList .gm-style-iw {
    height: 65px; }
  #map iframe, #mapBucketList iframe {
    background: #4db4f8;
    z-index: 2;
    position: relative; }
  #map #googleMap, #mapBucketList #googleMap {
    height: 65vh;
    margin: 2%;
    width: 100%;
    margin-bottom: 0;
    border: 0;
    margin-left: 0; }
    @media screen and (max-width: 700px) {
      #map #googleMap, #mapBucketList #googleMap {
        height: 50vh; } }
  #map h1, #mapBucketList h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: 28pt;
    text-transform: uppercase; }
  #map h2, #mapBucketList h2 {
    font-style: italic;
    font-weight: 100; }
  #map h3, #mapBucketList h3 {
    margin-bottom: 125px; }
  #map h3 a, #mapBucketList h3 a {
    text-decoration: underline;
    color: navy; }
  #map h3 a:hover, #mapBucketList h3 a:hover {
    color: blue; }

#mapBody {
  background: #4db4f8; }

#mapBucketListBody {
  background: #021019; }
  #mapBucketListBody iframe {
    background: #021019; }
  #mapBucketListBody h1, #mapBucketListBody h2, #mapBucketListBody h3 a {
    color: white; }
  #mapBucketListBody h2 {
    text-shadow: 1px 1px #000000; }
  #mapBucketListBody h3 a:hover {
    color: lightgray; }

.links {
  z-index: 100;
  width: 99vw;
  background: rgba(0, 0, 0, 0.6);
  left: 0;
  padding-top: 10px;
  color: white;
  padding-bottom: 10px;
  font-family: 'Roboto', sans-serif; }
  .links a {
    color: white;
    text-transform: lowercase;
    text-decoration: none;
    font-size: 18pt;
    font-weight: 100;
    margin-right: 5px;
    margin-left: 5px; }
    .links a:hover, .links a i:hover {
      color: lightgray; }

div:not(#home) > .links {
  position: fixed;
  bottom: 0; }

.clearFloat {
  clear: both; }

/*# sourceMappingURL=style.css.map */
